{% extends "base.html" %} {% block pagetitle %} Change Control Form {% endblock pagetitle %} {% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Change Control Form</li>
</ol>
<div class="form-container">
    <form id="changeControlForm" action="/request_change_control" method="post">
        <div class="form-content">
            <div class="input-group input-light">
                <label for="areaOfChange" class="input-title">Area of Change:</label>
            </div>
            <select id="areaOfChange" name="areaOfChange" class="form-control" required>
                <option value="" disabled selected>Select an option</option>
                <option value="Process">Process</option>
                <option value="Document">Document</option>
                <option value="SOP">SOP</option>
                <option value="Procedure">Procedure</option>
                <option value="Equipment">Equipment</option>
                <option value="Insrtument">Insrtument</option>
                <option value="Testing Procedure">Testing Procedure</option>
                <option value="Specification">Specification</option>
                <option value="Starting Material">Starting Material</option>
                <option value="Facility And Environment Control">Facility And Environment Control</option>
                <option value="Introduction Of Product">Introduction Of Product</option>
                <option value="Deletion Of Product">Deletion Of Product</option>
                <option value="Other">Other</option>
            </select>
            <div class="other-document" style="display: none; width: 100%;">
                <label for="documentNumber" class="input-title">Enter Document Number:</label>
                <input type="text" class="form-control" name="documentNumber" id="documentNumber" placeholder="Enter Document Number">
            </div>
            <hr class="styled-hr">
            <div class="input-group input-light">
                <label for="initiatorDepartment" class="input-title">Change Affects Initiator Department:</label>
                <input type="text" id="initiatorDepartment" name="initiatorDepartment" class="form-control" value="{{ session['session_var']['USER_DEPARTMENT'] }}" disabled>
                <input type="hidden" name="initiatorDepartmentHidden" value="{{ session['session_var']['USER_DEPARTMENT'] }}">
            </div>
            <hr class="styled-hr">
            <div class="input-group input-light">
                <label for="description" class="input-title">Description of Change:</label>
                <input type="text" id="description" name="description" class="form-control" required>
            </div>
            <hr class="styled-hr">
            <div class="input-group input-light">
                <label for="existingStatus" class="input-title">Existing Status:</label>
                <input type="text" id="existingStatus" name="existingStatus" class="form-control" required>
            </div>
            <hr class="styled-hr">
            <div class="input-group input-light">
                <label for="proposedChange" class="input-title">Proposed Change:</label>
                <input type="text" id="proposedChange" name="proposedChange" class="form-control" required>
            </div>
            <hr class="styled-hr">
            <div class="input-group input-light">
                <label for="reasonJustification" class="input-title">Reason/Justification for Change:</label>
                <input type="text" id="reasonJustification" name="reasonJustification" class="form-control" required>
            </div>


            <hr class="styled-hr">
            <div>
                <button type="submit" class="btn btn-form btn-primary">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    const areaOfChangeDropdown = document.getElementById('areaOfChange');
    const documentNumberField = document.querySelector('.other-document');

    areaOfChangeDropdown.addEventListener('change', function() {
        if (this.value === 'Other') {
            documentNumberField.style.display = 'block';
            document.getElementById('documentNumber').setAttribute('required', true);
        } else {
            documentNumberField.style.display = 'none';
            document.getElementById('documentNumber').removeAttribute('required');
        }
    });

    function validateForm() {
        const areaOfChangeValue = areaOfChangeDropdown.value;
        const documentNumberValue = document.getElementById('documentNumber').value;

        if (areaOfChangeValue === 'Other' && !documentNumberValue) {
            alert('Please enter Document Number for "Other" option.');
            return false;
        }

        return true;
    }
</script>

{% endblock %}