<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main - Sign In</title>
    <link rel="stylesheet" href="../static/css/signin.css">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="main">
        <div class="background-gradient"></div>
        <div class="login-container">
            <div class="form-heading text-center">
                <h4 class="sub-title mb-2">Sign In.</h4>
                <span class="heading-desc">Sign in to your account below.</span>
            </div>
            <form action="/render_login" method="post">
                <div class="form-content">
                    <div class="input-group input-light">
                        <label for="username" class="input-title">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="" required>
                    </div>
                    <div class="input-group input-light">
                        <label for="password" class="input-title">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="forgot-password">
                            <a href="#">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn btn-form btn-secondary-color">
                            <span>Continue</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/main.js"></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>